---
import MainLayout from "~/layouts/MainLayout.astro";
import { Separator } from "~/components/ui";
---

<MainLayout>
  <main class="flex flex-col items-center justify-center w-dvw h-dvh overflow-hidden">
    <h1 class="flex items-center font-mono text-xl">
      404
      <Separator color="primary" orientation="vertical" className="mx-4 w-1 h-10" />
      Page not found
    </h1>
    <div class="h-4"></div>
    <h2 id="redirect-message" class="flex items-center mx-4 font-mono text-lx">
      Redirecting in &nbsp<span id="countdown" class="gradient-text">5</span>&nbsp seconds...
    </h2>
  </main>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      let seconds = 5;
      const countdownElement = document.getElementById('countdown');
      if (countdownElement !== null) {
        const interval = setInterval(() => {
          seconds--;
          countdownElement.textContent = seconds.toString();
          if (seconds <= 0) {
            clearInterval(interval);
            window.location.href = '/';
          }
        }, 1000);
      }
    });
  </script>
</MainLayout>
